body{
    background-color: black;
}
#a{
    background-color: rgb(222, 159, 24);
    color: rgb(99, 5, 87);
    border: 5px solid rosybrown;
    border-radius: 30px;
    margin: 30px;
    font-size: 50px;
}
#top{
    background-color: rgb(127, 255, 249);
    border: 5px solid rgb(120, 8, 8);
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
}
#h,#v,#n,#c,#p{
    background-color: rgb(62, 127, 105);
    border: 5px solid rosybrown;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
#veg{
    background-color: rgb(62, 127, 105);
    text-align: center;
    border: 5px solid rgb(138, 29, 197);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
#na{
    background-color: rgb(62, 127, 105);
    text-align: center;
    border: 10px solid rgb(160, 80, 161);
}
#non{
    background-color: rgb(62, 127, 105);
    text-align: center;
    border: 5px solid rgb(200, 20, 20);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
#add{
    background-color: rgb(89, 3, 53);
    color: blue;
    text-align: center;
    border: 5px solid rgb(29, 190, 166);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
p{
    background-color: rgb(26, 96, 195);
    text-align: center;
    border: 5px solid rgb(29, 190, 166);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
img{
    border: 5px solid blueviolet;
    border-radius: 20px;
}